


/* #region common */

/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul 
{

margin: 0;

}


img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
width: 100%;
    max-width: 1158px;
padding-left: 15px;
 padding-right: 15px; 
margin-left: auto;
margin-right: auto;
}

.visualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(100%);
margin: -1px;

}

/* #endregion common */

/* #region header */ 

.page-header {
background: #FFFFFF;
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
display: flex;
flex-grow: 1;
align-items: center;

}

.main-logo {
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo-another-color {
color: #2e2f42;
}

.nav-list {
display: flex;
gap: 40px;
}

.nav-list-item {
   
}

.nav-list-item:hover::after,
.nav-list-item:focus::after {
}

.nav-list-item::after {
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}



.contacts {
    font-style: normal;
    
}

.contact-list {
display: flex;
gap: 40px;
}

.contact-list-item {

}

.link-contacts {
    font-style: normal;
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover,
.link-contacts:focus {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}

/* #endregion header */

/* #region hero */

.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero/hero-background.jpg");   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
padding: 188px 0;
max-width: 1440px;
margin: 0 auto;

}

.title-hero {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
  
}

.button-hero {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
      font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor:pointer;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px; */
            }

.button-hero:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
            background: #404BBF;

            display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: row;
                gap: 10px;


                border-radius: 4px;
                    padding: 16px 32px;
                    




                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                        background: #404BBF;
}

.button-hero:focus {
background-color: #404BBF;
}

/* #endregion hero */

/* #region about us */

.section-about-us {
padding: 120px 0;
}

.title-about-us {

}

.list-about-us {
display: flex;
gap: 24px;
}

.list-item-about-us {
width: calc((100% - 72px) / 4);
}

.icons-about-us{
    fill: #2E2F42;
    /* stroke: #4D5AE5; */
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

.container-about-us {
    border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 8px;
}

.list-title-about-us {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.list-description-about-us {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion about us */

/* #region our team */ 

.section-team {
background-color: #F4F4FD;
padding: 120px 0;
}

.title-team {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}

.list-team {
display: flex;
gap: 24px;

}

.list-item-team {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #ffffff;
        display: flex;
        flex-direction: column;
        width: calc((100% - 72px) / 4);
        
    
}

.list-title-team {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
margin-bottom: 8px;

}

.card-container {
padding: 32px 0;
}



.list-profesion-team {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socials-list-item {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.socials-list-item:hover,
.socials-list-item:focus {
background-color: #404BBF;
}

.socials-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list-link:hover,
.socials-list-link:focus {
    background-color: #404BBF;
}

.socials-icon {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
fill: #F4F4FD;
}


/* #endregion our team */

/*  #region portfolio */

.section-portfolio {
padding: 120px 0;
}

.title-portfolio {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-portfolio {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}

.list-item-portfolio {
background: #ffffff;
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* position: relative;
    overflow: hidden; */
}


.list-item-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay-box {
position: relative;
    overflow: hidden;
    width: 360px;
    height: 300px;

}

.overlay {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        position: absolute;
        top: 0;
        color: #f4f4fd;
        padding: 40px 32px;
background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover .overlay-text {
    transform: translateY(0%);
}


.list-item-portfolio:hover .overlay {
    transform: translateY(0%);
}

.card-container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-title-portfolio {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.list-description-portfolio {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*  #endregion portfolio */

/* #region footer */

.section-footer {
background: #2E2F42;
display: flex;
justify-content: flex-start;
padding: 100px 0;

}

   .section-footer .container {
display: flex;
align-items: baseline;
}

.footer-information-container {
margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.logo-color-two {
color: #f4f4fd
}

.footer-description {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
}

.footer-media-container {

}

.footer-media-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.footer-list-item {
    width: 40px;
    height: 40px;
}


.footer-list-link {

    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

 .footer-list-link:hover,
 .footer-list-link:focus  {
background-color: #31d0aa;
}

.socials-icon-footer {
 fill: #F4F4FD;
}

/* #endregion footer */






